#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.nav-link{
    font-size: 20px;
    margin: 0rem 2rem;
    color: gray;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 200ms;
}

.nav-link:hover{
    background-color: gray;
    color: white;
    border-radius: 5px;
}    

.nav-link:visited{
    color: black;
}

h3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.efeito{
    padding: 20px 0px;
    font-size: 30px;
}

.waw{
    margin-top: 5vh;
    width: 60%;
    padding: 25px 0px;
}

.waw h4{
    font-size: 25px;
}

.waw p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    display: inline;
}

header{
    padding: 20px;
    background-color: #F9F4F3;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
}

header img{
    width: 50px;
}

h6{
    padding: 20px 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-top: 2px solid black;
}